<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="/img/truesight.png" height="30">
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/console">
                    Console
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Settings
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/keys">
                            API Keys
                        </a>
                        <a class="navbar-item" href="/users">
                            Users
                        </a>
                        <a class="navbar-item" href="/modules">
                            Modules
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            Disconnect
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
</div>