<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/navbar') %>

    <div class="container">
        <h1 class="title">Server is running.</h1>
    </div>
</body>
</html>