<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/navbar') %>

    <div class="container" id="home">
        <h1 class="title">Users</h1>
        <button class="button">Create a new User</button>
    </div>
</body>
</html>